*{
    margin: 0;
    padding: 0;
}
body{
    background: #222;
    color: #EEE;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.curd{
    width: 80%;
    margin: auto;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0; 
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: #111;
    margin: 6px 1px;
    border-radius: 15px;
    padding: 12px;
    color: #FFF;
    transition: 0.3s;
}
input:focus{
    background: #000;
    transform: scale(1.1);
}
.price input{
    width: 20%;
}
#total{
    background: #a00d02;
    padding: 5px 2px;
    border-radius: 4px;
}
#total::before{
    content: "Total: ";
}
button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background: rgba(18, 43, 158, 0.575);
    border-radius: 20px;
    color: white;
    transition: 0.3s;
}
button:hover{
    letter-spacing: 1px;
    background: rgb(18, 44, 158);
}
.btnSearch{
    display: flex;
    justify-content: space-between;
}
.btnSearch button{
    width: 45%;


}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px 10px;
}